<div class="pagination">
    <div class="pagination-content">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="pagination-link pagination-first">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number}}" class="pagination-link pagination-prev">Previous</a>
        {% endif %}
        <span class="pagination-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination-link pagination-next">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link pagination-last">Last &raquo;</a>
        {% endif %}
    </div>
</div>